[submodule "submodule/micropython"]
	path = submodule/micropython
	url = ../../YanMinge/micropython
        branch = master
[submodule "submodule/esp-idf"]
	path = submodule/esp-idf
	url = ../../espressif/esp-idf
        branch = master
[submodule "project/aitest/components/esp32-camera"]
	path = project/aitest/components/esp32-camera
	url = ../../espressif/esp32-camera
[submodule "project/aitest/components/lvgl_esp32_drivers"]
	path = project/aitest/components/lvgl_esp32_drivers
	url = ../../YanMinge/lvgl_esp32_drivers
[submodule "project/aitest/components/lvgl"]
	path = project/aitest/components/lvgl
	url = ../../lvgl/lvgl
