[submodule "submodule/micropython"]
	path = submodule/micropython
	url = ../../YanMinge/micropython
        branch = master
[submodule "submodule/esp-idf"]
	path = submodule/esp-idf
	url = ../../espressif/esp-idf
        branch = master
